{% block content %}
	<div class="page-login">
		<div class="login-layout">
			<main class="login-card" role="main" aria-labelledby="login-title">
				<h2 id="login-title">Se connecter</h2>

				<form class="form-login" method="post" novalidate>

					<div class="input-group">
						<label for="email">Email</label>
						<input id="email" name="email" type="email" required placeholder="votre@exemple.com" value="{{ formData.email|e }}" autocomplete="email"/>
					</div>
					<div class="error">{{ formErrors.email[0] }}</div>


					<div class="input-group">
						<label for="password">Mot de passe</label>
						<input id="password" name="password" type="password" required placeholder="••••••••" autocomplete="current-password"/>
					</div>
					<div class="error">{{ formErrors.password[0] }}</div>

					<button class="btn-primary" type="submit">Se connecter</button>
				</form>
			</main>
		</div>
	</div>
{% endblock content %}
